/* * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} */

.row {
    display: block;
    width: 100%;
}

.row:before {
    display: table;
    content: "";
}

.row:after {
    clear: both;
    display: table;
    content: "";
}

.p-2 {
    padding: 2rem;
}

.mx-2 {
    margin-right: .5rem;
    margin-left: .5rem;
}

.border-1 {
    border: 1px solid #e5e5e5;
}

.col-md-1 {
    float: left;
    width: 8.33%;
    box-sizing: border-box;
}

.col-md-2 {
    float: left;
    width: 16.66%;
    box-sizing: border-box;
}

.col-md-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.col-md-4 {
    float: left;
    width: 3.33%;
    box-sizing: border-box;
}