h3 {
  text-align: center;
  font-weight: bold;
  color: rgb(202, 22, 73);
}

body {
  background-color: rgb(246, 240, 240);
}

a {
  text-decoration: none;
  color: green;
}

.questionComplete {
  color: green !important;
}
