* {
    background-color: whitesmoke
}


/* .table-border {
    border: 1px solid blue;
} */

table,
th,
td {
    border: 1px solid blueviolet;
    border-collapse: separate;
}

table.one {
    border: 1px solid blueviolet;
    border-collapse: collapse;
    caption-side: top;
    /* Display empty cells border */
    empty-cells: show;
}

table.two {
    border: 1px solid blueviolet;
    border-collapse: separate;
    border-spacing: 5px 10px;
    caption-side: bottom;

    /* Hiding empty cells border */
    empty-cells: hide;
}

table.ex1 {
    empty-cells: show;
}